
body
{
padding-top: 80px;
font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6
{
  text-transform: uppercase;
}
.navbar-default .navbar-brand
{
  font-size: 28px;
  font-weight: 600;
  color: white;
}

a.navbar-default .navbar-brand:hover
{
  color: black;
}

.navbar
{
  background: linear-gradient(141deg, #65FBC2 0%, #1fc8db 51%, #2cb5e8 75%);
  padding: 12px 0;
}

/*#0fb8ad*/

.navbar-header
{
}

.navbar-default .navbar-nav > li > a
{
  color: white;
}
nav li a
{
  font-weight: 700;
  color: white;
}

#profile-photo
{
  padding-top: 50px;
  padding-bottom: 30px;
}

.landing-text
{
  text-align: center;
  /*padding-bottom: 40px;*/
}

p
{
  font-size: 20px;
}

p > a
{
  text-decoration: none;
  color: rgb(51, 51, 51);
}

p > b > a
{
  text-decoration: none;
  color: rgb(51, 51, 51);
}

p.resumepage
{
  margin-bottom: 0px;
}

a.Link
{color: rgb(51, 51, 51);}

li a
{color: rgb(51, 51, 51);}

#hi
{
  margin: 0px;
}

#landing-name
{
  font-size: 64px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: -10px;
}

#smaller
{
  padding-top: 30px;
  font-size: 16px;
}

#image-padding
{
  padding-top: 50px;
  padding-bottom: 30px;
}
#mobile-menu
{
  color: white;
}

#mobile-menu:hover
{
  background-color: #65FBC2;
}

.centered-text
{
  text-align: center;
}

div span.dates:nth-of-type(1) { float:right; text-align: right;}
div span.dates:nth-of-type(2) { float:right; text-align: right;}
div span.dates:nth-of-type(3) { float:right; text-align: right;}
div span.dates:nth-of-type(4) { float:right; text-align: right;}
/*================================FOOTER================================*/
footer {
  margin-top: 40px;
}

.footer
{
    background: linear-gradient(141deg, #65FBC2 0%, #1fc8db 51%, #2cb5e8 75%);
    padding: 40px 0;
}

.footer-below
{
  background-color: #27a2d0;
  padding: 20px;
  color: white;
}

a.smGlobalBtn{ /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border:2px solid #ddd; /* add border to the buttons */
    /*box-shadow: 0 3px 3px #999;*/
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    line-height: 45px;
    border-radius: 27px;
    -moz-border-radius:27px;
    -webkit-border-radius:27px;
}

/* facebook button class*/
.facebookBtn{

}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover{
    color: #4060A5;
    background: #fff;
    border-color: #4060A5; /* change the border color on mouse hover */
}

/* twitter button class*/
.twitterBtn{

}

.twitterBtn:before{
      font-family: "FontAwesome";
      content: "\f099"; /* add twitter icon */

}

.twitterBtn:hover{
      color: #4099FF;
      background: #fff;
      border-color: #4099FF;
}

/* linkedin button class*/
.linkedinBtn{

}

.linkedinBtn:before{
      font-family: "FontAwesome";
      content: "\f0e1"; /* add linkedin icon */
}

.linkedinBtn:hover{
      color: #0094BC;
      background: #fff;
      border-color: #0094BC;
}

/* github button class*/
.githubBtn{

}

.githubBtn:before{
      font-family: "FontAwesome";
      content: "\f09b"; /* add github icon */

}

.githubBtn:hover{
      color: #000000;
      background: #fff;
      border-color: #000000;
}
